body {
    background-color: #00ABE7;
    min-height: 100vh;
    display: flex;
    flex-direction: column
}


/* navigation */
.navbar {
    background-color: #0081AF;
    color: #EAD2AC;
}


/* icon */
.fa-water {
    color: #EAD2AC;
    padding: .5rem;
}

/* background image */
.bg-image {
    background-image: url("reef.jpg");
    height: 100vh;
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* text overlay */
#imageText {
    color: #EAD2AC;
    background-color: #0081AF;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
}

/* button */
.btn {
    display: flex;
    background-color: #004963;
    justify-content: center;
    color: #EAD2AC;
    margin: 1rem;
    font-weight: bold;
}

/* list */
#listStyle {
    background-color: #0081AF;
    padding: 1rem;
    color: #EAD2AC;
    border-radius: 1rem;
}

/* review carousel */
#reviewContainer {
    background-color: #0081AF;
    padding: 1rem;
    color: #EAD2AC;
    border-radius: 1rem;

}

/* lsit heading */
#listStyle h2 {
    text-align: center;
}

/* footer */
.footer {
    background-color: #004963;
    color: #EAD2AC;
    text-decoration: none;
    text-align: center;
    margin-top: auto;
}

/* footer links */
.footer a {
    text-decoration: none;
    color: #EAD2AC;
}